* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left:calc(50% - 570px);
    padding-right:calc(50% - 570px);
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    align-items: center;
}

.logo {
    display: flex;
    padding-top: 18px;
    padding-bottom: 18px;
    align-items: flex-end;
    gap: 41px;
}
.right_menu {
    display: flex;
    gap: 25px;
}
.top {
    display: flex;
    align-items: center;
    gap: 63px;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}
.top_text_group {
    display: flex;
    gap: 16px;
    padding-right: 0;
}
.brandtext {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.luxtext {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.fashiontext {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer {
    display: grid;
    padding-top: 65px;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    gap: 30px;
}
.offer > div:nth-child(4) {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.offer_card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.big_card {
    display: flex;
    justify-content: center;
}

h4 {
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.h4 {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.big_card_h4 {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;

}
.bottom_text {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer_img {
    filter: brightness(50%);
    
    
}
.features_text{
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.items {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 3px;
}
.featured_text {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 49px;
}
.features {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
    padding-bottom: 48px;
}
.card {
    display: flex;
    flex-direction: column;
}
.name {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 35px;
    margin-left: 18px;
}
.descript {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 13px;
    margin-left: 18px;
}
.price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 18px;
    margin-bottom: 20px;
    margin-left: 18px;
}
.button {
    width: 212px;
    height: 48px;
    color: #FF6A6A;
    border: 1px solid #FF6A6A;
    background: #FFF;
    
}
.butt {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
.about {
    background-color: #222224;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.about_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 103px;
    margin-bottom: 104px;
    gap: 19px;
}
.about_img {
    height: 47px;
}
.about_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.about_text__first {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about_text__second {
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 360px;
}
.subscribe {
    display: flex;
    position: relative;
    padding-left:calc(50% - 800px);
    padding-right:calc(50% - 800px);
}
.background {
    opacity: 0.4;
    position: absolute;
    z-index: -1;
}
.intersect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-left: 228px;
    padding-top: 97px;
}
.subscribe_form {
    display: flex;
    padding-top: 150px;
    padding-left: 223px;
    padding-bottom: 162px;
}
.subscribe_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 557px;
    height: 99px;
    padding-bottom: 37px;
}
.intersect_text_curve {
    color: #222224;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.subscribe_text__first {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}
.subscribe_text__second {
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}
.intersect_text {
    width: 360px;
color: #222224;
text-align: center;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.footer {
    display: flex;
    background-color: #222224;
    justify-content: space-between;
    align-items: center;
}
.copyright {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.social {
    display: flex;
    gap: 7px;
}
.social_container {
    
}
@media (width<1025px)  {
    .center {
        padding-left:calc(50% - 367px);
        padding-right:calc(50% - 367px);
    }
    .top {
        padding-left: calc(50% - 383px);
        padding-right: calc(50% - 383px);
        gap: 39px;
    }
    .brandtext {font-size: 44px;}
    .luxtext {font-size: 24px;}
    .fashiontext {font-size: 24px;}
    .main_foto {
        width: 386px;
    }
    .offer {
        display: grid;
        padding-top: 65px;
        grid-template-columns: repeat(3, 232px);
        grid-template-rows: 168px 116px;
        gap: 20px;
    }
    .offer_img{
        width: 232px;
    }
    .big_card_img{
        width: 735px;
    }
    .features_text{
        margin-top: 109px;
        gap: 6px;
    }
    .features {
        grid-template-columns: 360px 360px;
        gap: 16px;
        padding-bottom: 32px;
    }
}
@media (width<768px) {
    .center {
        padding-left:calc(50% - 172px);
        padding-right:calc(50% - 172px);
    }

    .hidden {
        display: none;
    }
    .logo {padding-left: 16px;}
    .right_menu{padding-right: 16px;}
    .top {justify-content: center;}
    .top_text_group {
        padding-left:calc(50% - 172px);
        padding-right:calc(50% - 172px);
        padding-top: 148px;
        gap: 15px;
    }
    .brandtext {font-size: 38px;}
    .luxtext {font-size: 20px;}
    .fashiontext {font-size: 20px;}
    .offer {
        display: flex;
        gap: 32px;
        flex-direction: column;
        padding-top: 213px;
    }
    .offer_img {
        width: 343px;
    }
    .big_card_img{
        width: 343px;
        height: 111px;
    }
    .features_text{
        margin-top: 64px;
        gap: 3px;
    }
    .features {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
    }
    .butt {
        padding-bottom: 85px;
}
}